# Machine Learning Assignment

## Loading the dataset

In [1]:
import pandas as pd

df = pd.read_csv('data/heart-disease.csv')

print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 920 entries, 0 to 919
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Age                           920 non-null    float64
 1   Gender                        920 non-null    float64
 2   Chest pain type               920 non-null    float64
 3   Resting blood pressure        861 non-null    float64
 4   Serum cholesterol             890 non-null    float64
 5   Fasting blood sugar           830 non-null    float64
 6   Resting electrocardiographic  918 non-null    float64
 7   Maximum heart rate            865 non-null    float64
 8   Exercise induced angina       865 non-null    float64
 9   ST depression                 858 non-null    float64
 10  ST segment                    611 non-null    float64
 11  Number of major vessels       309 non-null    float64
 12  Thal                          434 non-null    float64
 13  class                         920 non-null    int64
dtypes: float64(13), int64(1)
memory usage: 100.8 KB
None

,Age,Gender,Chest pain type,Resting blood pressure,Serum cholesterol,Fasting blood sugar,Resting electrocardiographic,Maximum heart rate,Exercise induced angina,ST depression,ST segment,Number of major vessels,Thal,class
0,63.0,1.0,4.0,140.0,260.0,0.0,1.0,112.0,1.0,3.0,2.0,NaN,NaN,2
1,44.0,1.0,4.0,130.0,209.0,0.0,1.0,127.0,0.0,0.0,NaN,NaN,NaN,0
2,60.0,1.0,4.0,132.0,218.0,0.0,1.0,140.0,1.0,1.5,3.0,NaN,NaN,2
3,55.0,1.0,4.0,142.0,228.0,0.0,1.0,149.0,1.0,2.5,1.0,NaN,NaN,1
4,66.0,1.0,3.0,110.0,213.0,1.0,2.0,99.0,1.0,1.3,2.0,NaN,NaN,0

## Exploratory data analysis

You may need to do some data cleaning before you do your full exploratory data analysis, though you will find that some functions we'll cover in this unit are able to handle the missing values.

In [2]:
# TODO: just a placeholder for your data analysis

## Data pre-processing
Do further data pre-processing here (in addition to dealing with the missing values)

In [3]:
# e.g., transform feature values

## Running Machine Learning classifier

Add code for running machine learning experiments below, e.g., the following.

### Preparing the X and y arrays in preparation for running machine learning classifiers

In [4]:
from sklearn import preprocessing

# Splits the Pandas DataFrame into a feature matrix (X) and class/label vector (y)
X = df.iloc[:,:len(df.columns)-1]
y = df.iloc[:,len(df.columns)-1]

### etc..

Expand and develop this notebook as you wish! :)